.form-container {
  max-width: 1000px;
  height: 100vh;
  width: 30%;
}

.form-container form {
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 1%;
}

.form-container form input,
select {
  margin: 1% 0;
}

.form-container .instructions {
  font-size: 0.75rem;
  padding: 0 2%;
}

.form-container h1 {
  text-align: center;
  font-size: 1.5rem;
}

.App {
  display: flex;
  flex-direction: row;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 95vh;
}

footer a {
  text-decoration:none;
  color:white;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background-color: #202020;
  color: white;
  padding: 1% 0;
  display:flex;
  flex-direction:column;
  margin-bottom:1rem;
}

footer div {
  margin: 0 auto;
}