@import url("https://fonts.googleapis.com/css?family=MedievalSharp&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #202020;
}

html {
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*header {
  height: 7%;
  border: 1px solid red;
  text-align: center;
}
footer {
  height: 5%;
  border: 1px solid red;
}
*/
.about-body {
  background: #202020;
  color: white;
  font-family: "MedievalSharp", cursive;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.about-body button {
  background-color: #cf291d;
  color: white;
  border: none;
  margin: 2rem;
  padding: 0.5rem;
  width: 10rem;
  font-family: "MedievalSharp", cursive;
  font-style: normal;
  font-weight: bold;
}


.about-body button:hover {
  background-color: black;
}

.left-column {
  height: 93%;
  width: 25%;
  border: 1px solid orange;
}
/*
main {
  height: 93%;
  width: 75%;
  border: 1px solid purple;
}*/

.monster-info {
  border: 1px solid blue;
  height: 70%;
  overflow: auto;
}

.battlefield {
  border: 1px solid green;
  height: 30%;
}

.form {
  height: 70%;
  border: 1px solid red;
}

.player-info-input {
  height: 30%;
  border: 1px solid red;
}

.logo {
  width: 10rem;
}

.pic-of-us {
  width: 264px;
}

.all-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.people {
  padding: 1rem;
}

.img-container h4 {
  text-align: center;
}

.form-container {
  background-color: #202020;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 30%;
  height: 100vh;
  min-width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.about-title {
  font-family: "MedievalSharp", cursive;
  font-size: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

form {
  margin: 0px;
  padding: 0px;
  align-items: center;
}

form select {
  background-color: #303030;
  color: white;
  margin-top: 0.25rem;
  width: 15rem;
}
form select option {
  background-color: #303030;
  color: white;
  width: 15rem;
}

form input {
  background-color: #303030;
  color: white;
  width: 15rem;
}

form button {
  background-color: #cf291d;
  color: white;
  border: none;
  font-weight: bold;
  width: 15rem;
  text-align: center;
  margin: 0.5rem auto;
  padding: 0.5rem;
}
form button:hover {
  background-color: black;
}
/*
dragon-red: #CF291D
cement: #ECECEC
dungeon: #BFBFBF
black: #131313
blood: #B50717
shadow:  #202020;
*/
