body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  height: 7%;
  border: 1px solid red;
  text-align: center;
}
footer {
  height: 5%;
  border: 1px solid red;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-column {
  height: 93%;
  width: 25%;
  border: 1px solid orange;
}

main {
  height: 93%;
  width: 75%;
  border: 1px solid purple;
}

.monster-info{
  border: 1px solid blue;
  height: 70%;
  overflow:auto;
}

.battlefield{
  border: 1px solid green;
  height: 30%;
}

.form {
  height: 70%;
  border: 1px solid red;

}

.player-info-input {
  height: 30%;
  border: 1px solid red;

}

/*
dragon-red: #CF291D
cement: #ECECEC
dungeon: #BFBFBF
black: #131313
blood: #B50717
*/